@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #504908;
  height: 80px;
}

nav {
  padding: 40px;
  font-family: 'Comfortaa', cursive;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

nav h1 {
    margin: 0;
    font-size: 16px;
}

nav ul {
  list-style: none;
  margin: 0;
  text-align: right;
  display: flex;
  
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
}

.hero_section {
  position: relative; 
  background-image: url("/img/header/header.png");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: #504908;
    padding: 40px;
}