@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300..700&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --primary: #504908;
 --white: #ffffff;
 --black: #181818;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
 padding-top: 4em;
}